{% extends "_base.html" %}

{% block title %}Home - FluxMux{% endblock %}

{% block content %}
<div>
  <div>
    <h1>Feeds registered</h1>
      {%- for (group, feeds) in user_feeds %}
        <details>
        <summary>{{ group }}</summary>
        <ul>
        {%- for feed in feeds %}
          <li>{{ feed.title }} ({{ feed.status }})</li>
        {%- endfor %}
        </ul>
        </details>
      {%- endfor %}
  </div>

  <div>
    <h1>Last entries</h1>
    <ul>
      {% for entry in user_entries %}
      <li>{{ entry.title }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
