{% extends "_base.html" -%}

{%- block title -%}
Login to FeedR
{%- endblock -%}

{%- block extra_head -%}
{%- endblock -%}

{% block content %}
<div class="container">
  <p>Login to FeedR</p>

  <div id="login-error" style="color: red;">
  </div>

  <form hx-post="/login" hx-swap="none" class="container">
    <label for="username">Username</label>
    <input name="username" type="text" placeholder="Enter username" required>

    <label for="password">Password</label>
    <input name="password" type="password" placeholder="Enter password" required>

    <button type="submit" name="kind" value="basic">Login with password</button>
  </form>

  <form hx-post="/login" class="container">
    <label for="instance">Login instance</label>
    <input name="instance" type="text" placeholder="Enter instance URI" required>

    <button type="submit" name="kind" value="dauth">Login with DAuth</button>
  </form>

  <div>
    <span>Forgot <a href="#">password?</a></span>
  </div>
</div>
{% endblock content %}

